/* style.css */

/* Center the content vertically and horizontally */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 350px;
  margin: 0;
  font-family: Garamond, serif;
  color: #FFFFFF;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.toggle-switch {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.switch-label {
  margin-right: 10px; /* Add some spacing between the label and switch */
  pointer-events:  none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
}

.switch input {
  display: none;
}

.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 24px; /* Adjust the border-radius to match the height */
}

.slider-round:before {
  position: absolute;
  content: "";
  height: 20px; /* Adjust the height as needed */
  width: 20px; /* Adjust the width as needed */
  left: 2px; /* Adjust the left position as needed */
  bottom: 2px; /* Adjust the bottom position as needed */
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

/* Move the slider to the right when checked */
input:checked + .slider-round {
  background-color: #2196F3;
}

input:checked + .slider-round:before {
  -webkit-transform: translateX(24px); /* Adjust the translation distance */
  -ms-transform: translateX(24px); /* Adjust the translation distance */
  transform: translateX(24px); /* Adjust the translation distance */
}